@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes screwUp {
  0% { margin-top: 0; }
  100% { margin-top: -200px; }
}

@keyframes moveUp {
  0% { top: calc(100vh + 200px); }
  100% { top: calc(60vh + 200px); }
}

@keyframes hide-scroll {
  from, to { overflow: hidden; }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
