@import './variables';
@import './mixins';

:root {
  --font-family: #{$font-helvetica}, sans-serif;

  --color-default: #{$color-default};
  --color-default-inverted: #{$color-default-inverted};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};
  --color-bg-default: #{$color-bg-default};
  --color-bg-primary: #{$color-primary};
  --color-bg-secondary: #{$color-bg-secondary};
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;
  background: var(--color-bg-default);

  animation: hide-scroll 3s backwards;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  &--small {
    max-width: 640px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.anchor {
  position: absolute;
  top: -100px;
}
