$font-helvetica: 'HelveticaN';

$color-default: #3E3E3E;
$color-default-inverted: #FFFFFF;
$color-primary: #CE7953;
$color-secondary: #3F3D56;
$color-tertiary: #737373;
$color-bg-default: #FFFFFF;
$color-bg-secondary: #F7F7F7;

$color-default-dark: #FFFFFF;
$color-primary-dark: #CE7953;
$color-secondary-dark: #8784b5;
$color-tertiary-dark: #FFFFFF;
$color-bg-default-dark: #1a1a1a;
$color-bg-secondary-dark: #121212;

$color-project-mamzelle-patine: #DCB225;
$color-project-paddix: #4DE0DC;
$color-project-atomic-design: #22252A;
$color-project-backpack: #CE455B;

$font-normal: normal;
$font-bold: 700;
$font-light: 200;
