.references_list {
  text-align: center;
  max-width: 600px;
  margin: 60px auto 0;
}

.references_item {
  display: inline-block;
  margin: 20px;
  background: #FFFFFF;
  padding: 10px;
  border-radius: 20px;
}
