@import '../commons/variables';
@import '../commons/mixins';

.services {}

.services_row {
  margin-top: 50px;

  @include desktop {
    display: flex;
    margin-top: 80px;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
}

.services_image {
  text-align: center;
  margin-bottom: 30px;

  @include desktop {
    margin-left: -190px;
    margin-right: 30px;

    .services_row:nth-child(odd) & {
      margin-left: 30px;
      margin-right: -190px;
    }
  }
}

.services_text {
  .title-2 {
    strong {
      white-space: nowrap;
    }
  }

  @include desktop {
    max-width: 380px;
  }
}
