.avatar {
  position: relative;
  margin: 40px auto;
  width: 170px;
  height: 170px;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    border-radius: 50%;
    opacity: .8;
    z-index: 0;
    animation: 5s linear infinite rotate;
  }

  &:before {
    transform-origin: calc(50% - 5px);
    animation-duration: 3s;
  }

  &:after {
    transform-origin: calc(50% + 5px);
    animation-delay: 0.1s;
  }

  @include desktop {
    width: 234px;
    height: 234px;
  }
}

.avatar_image {
  position: relative;
  border-radius: 50%;
  width: 100%;
  z-index: 1;
}
