@import '../commons/mixins';
@import '../commons/variables';

.banner {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-primary);
  color: var(--color-default-inverted);
  animation: 2s 1.5s screwUp forwards;
}

.banner_inner {
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-light;

  strong {
    font-weight: $font-bold;
  }
}

.banner_logo {
  position: relative;
  margin-top: -30px;
  animation: fadeIn ease 2s;
  width: 70px;

  @include desktop {
    width: 111px;
    height: 100px;
  }
}

.banner_heading {
  font-size: 30px;
  animation: 1s 0.5s forwards fadeIn;
  opacity: 0;
  margin-top: 20px;

  strong {
    font-weight: $font-bold;
  }

  @include desktop {
    font-size: 70px;
  }
}

.banner_baseline {
  font-size: 16px;
  opacity: 0;
  animation: 1s 1s forwards fadeIn;

  @include desktop {
    font-size: 24px;
  }
}
