.main {
  display: block;
  position: relative;
  top: calc(100vh + 200px);
  background: var(--color-bg-default);
  animation: 2s 1.5s moveUp forwards;
  z-index: 2;
}

.main_wave {
  display: block;
  position: absolute;
  top: -199px;
  left: 0;
  width: 100%;
  min-height: 200px;
}

.main_sticky {
  position: sticky;
  top: 0;
}

.main_header {
  background: var(--color-bg-default);
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.section {
  padding-bottom: 200px;
}

.section_wave {
  display: block;
  position: absolute;
  top: -200px;
  left: 0;
  height: 200px;
  width: 100%;
  fill: var(--color-bg-default);
  animation-play-state: paused;

  .section--secondary & {
    fill: var(--color-bg-secondary);
  }
}
