@import '../commons/variables';
@import '../commons/mixins';

.nav {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.nav_list {
  display: none;

  @include desktop {
    display: flex;
  }
}

.nav_logo {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 20px);
  fill: var(--color-primary);
  width: 40px;
}

.nav_item {
  padding: 20px 20px;

  & + .nav_item {
    margin-left: 50px;

    &--separate {
      margin-left: auto;
    }
  }

}

.nav_link {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: $font-light;
  color: var(--color-tertiary);
  transition: all .2s;

  &--active {
    color: var(--color-secondary);
    font-weight: $font-bold;
  }
}
